/*
  These global styles are included in the css property of nuxt.config.js, so they are applied everywhere.
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $brand-color;
  color: $font-color;
  margin-bottom: $space-xl;
}

.container {
  max-width: $site-max-width;
  margin: 0 auto;
}

.page-title {
  font-size: $font-size-l;
  padding: $space-l;
  text-align: center;
}
