/* Colors */
$brand-color: #ffefff;

/* Spacing */
$site-max-width: 1024px;

$space-s: 10px;
$space-m: 20px;
$space-l: 40px;
$space-xl: 80px;

/* Fonts */
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 36px;
$font-size-xl: 72px;
